/**
 * 创建于 2018/7/25
 * 作者: SHERlocked93
 * 功能: 通用设置
 */
@import "mixin";

body, html {
  min-width: 1920px;
  min-height: 1080px;
  overflow: hidden;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Microsoft Sans Serif, Hiragino Sans GB, Arial, sans-serif;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::selection {
  background: rgba(65, 184, 163, 0.44);
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h2, h3 {
  position: relative;
  margin: 40px 0 25px;
  
  &:before {
    content: '#';
    color: $light;
    position: absolute;
    left: -20px;
    display: none;
  }
  
  &:hover {
    &:before {
      display: inline-block;
    }
  }
}

h2 {
  font-size: 1.8em;
  margin: 40px 0 30px;
}

h3 {
  font-size: 1.5em;
}

code {
  font-family: $code-font;
  word-wrap: break-word;
  margin: 0 4px;
  padding: 2px 4px;
  white-space: pre-wrap;
  color: $green;
  background-color: $green-light;
  border-radius: 4px;
}

