/**
 * 创建于 2018/7/23
 * 作者: QianYu
 * 功能: 样式全局变量
 */

// 调色板
$dark: #2c3e50;
$medium: #34495e;
$light: #7f8c8d;
$green: #42b983;
$green-light: #e5f7ef;
$codebg: #f8f8f8;
$red: #f66;
$red-trans: rgba(255, 102, 102, .8);
$grey: #f9f9f9;
$board-grey: #e3e3e3;
$bg-grey: rgba(243, 243, 243, .5);

// 字体库
$body-font: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
$logo-font: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
$code-font: Consolas, Monaco, courier, monospace;
$title-font: Segoe UI Semibold, Segoe UI Symbol, Verdana, sans-serif;

// 长度设置
$radius: 2px;
$radius-big: 4px;
$header-height: 40px + 15px * 2;
$header-padding: 15px 60px;

$comm-padding: 20px;
$content-minwidth: 1000px;

$sidebar-width: 350px;
