/**
 * 创建于 2018/7/23
 * 作者: QianYu
 * 功能: 样式全局变量
 */

// 调色板
$dark: #2c3e50;
$medium: #34495e;
$light: #d7d7d7;
$green: #42b983;
$green-trans: rgba(66, 185, 131, .8);
$green-light: #e5f7ef;
$codebg: #f8f8f8;
$red: #f66;
$red-trans: rgba(255, 102, 102, .8);
$grey: #717171;
$light-grey: #f6f6f6;
$border-grey: #e9e9e9;
$hover-bg-grey: rgba(243, 243, 243, .5);
$box-shadow: rgba(96, 96, 96, 0.5);

// 字体库
$body-font: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
$logo-font: Segoe UI, Raleway, Bahnschrift, Source Sans Pro, Arial, sans-serif;
$code-font: Consolas, Monaco, courier, monospace;
$title-font: Segoe UI Semibold, Segoe UI Symbol, Verdana, sans-serif;

// 效果设置
$comm-transition: .4s;
$comm-border: 1px solid $light-grey;

// 长度设置
$radius: 2px;
$radius-big: 4px;
$header-height: 40px + 15px * 2;
$header-padding: 15px 60px;

$comm-distance: 20px;
$content-minwidth: 1000px;

$sidebar-width: 330px;

// 样式块
@mixin blnWrap {
  position: fixed;
  top: 20px + $header-height;
  right: 20px;
  color: white;
  font-size: 21px;
  [class^="el-icon-my"] {
    font-size: 20px;
    margin-top: 2px;
  }
}

// 文本超出显示省略号
@mixin overflowEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 透明度(含IEhack)
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}

//region keyframes

// 顺时针自选
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// 逆时针自旋
@keyframes spinReverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

//endregion
